{% extends "layout.html" %}
{% block content %}
  <div class="btn-group input-group-sm me-2">
    <select class="form-select" id="search_input_type">
      <option value="tc" selected>Tc</option>
      <option value="name">Name</option>
      <option value="email">Email</option>
      <option value="phone">Phone</option>
      <option value="title">Title</option>
    </select>

    <input type="text" class="form-control input-sm" id="search_input"
           value="{% if request.query_params["search"] is defined %}{{ request.query_params["search"] }}{% endif %}">
    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="search()">Search</button>
  </div>
  <div class="btn-group me-2">
    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="exportPdf()">Share</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="exportCSV()">Export</button>
  </div>
  {% if user["name"] == "Admin" %}
    <button type="button" class="btn btn-sm btn-outline-primary float-end" data-bs-toggle="modal"
            data-bs-target="#newModal">New Employee
    </button>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th>Tc</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Title</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for item in staff %}
        {% if request.query_params["search"] is not defined or request.query_params["search"] in item[request.query_params["search_type"]] %}
          <tr>
            <td>{{ item["tc"] }}</td>
            <td>{{ item["name"] }}</td>
            <td>{{ item["email"] }}</td>
            <td>{{ item["phone"] }}</td>
            <td>{{ item["title"] }}</td>
            <td>
              {% if user["name"] == "Admin" %}
                <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    onclick="deleteOne({{ item["tc"] }})">
                  Delete
                </button>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="newModal" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">T.C.</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="new_tc" maxlength="11"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="new_name" maxlength="50"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="new_email" maxlength="50"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="new_phone" maxlength="50"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="new_password" maxlength="50"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="new_title" maxlength="50"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="saveNew()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    function search() {
      var value_type = $("#search_input_type").val();
      var value = $("#search_input").val();
      location.href = `/staff?search_type=${value_type}&search=${value}`;
    }

    function deleteOne(tc) {
      $.ajax({
        url: `/staff?tc=${tc}`,
        type: 'DELETE',
        success: function (data, status, xhr) {
          location.reload();
        }
      });
    }

    function saveNew() {
      var new_tc = $("#new_tc").val();
      var new_name = $("#new_name").val();
      var new_email = $("#new_email").val();
      var new_phone = $("#new_phone").val();
      var new_title = $("#new_title").val();
      var new_password = $("#new_password").val();

      $.ajax({
        url: '/staff',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          tc: new_tc,
          name: new_name,
          email: new_email,
          phone: new_phone,
          title: new_title,
          password: new_password
        }),
        success: function (data, status, xhr) {
          location.href = '/staff';
        },
        error: function (data, status, err) {
          console.log(data);
          console.log(err);
        }
      });
    }
  </script>
{% endblock %}