{% extends "layout.html" %}
{% block content %}
  <div class="btn-group input-group-sm me-2">
    <select class="form-select" id="search_input_type">
      <option value="tc" selected>Tc</option>
      <option value="name">Name</option>
      <option value="email">Email</option>
      <option value="phone">Phone</option>
      <option value="title">Title</option>
    </select>

    <input type="text" class="form-control input-sm" id="search_input"
           value="{% if request.query_params["search"] is defined %}{{ request.query_params["search"] }}{% endif %}">
    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="search()">Search</button>
  </div>
  <div class="btn-group me-2">
    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="exportPdf()">Share</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="exportCSV()">Export</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>Tc</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>
      {% for item in staff %}
        {% if request.query_params["search"] is not defined or request.query_params["search"] in item[request.query_params["search_type"]] %}
          <tr>
            <td>{{ item["tc"] }}</td>
            <td>{{ item["name"] }}</td>
            <td>{{ item["email"] }}</td>
            <td>{{ item["phone"] }}</td>
            <td>{{ item["title"] }}</td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    function search() {
      var value_type = $("#search_input_type").val();
      var value = $("#search_input").val();
      location.href = `/staff?search_type=${value_type}&search=${value}`;
    }
  </script>
{% endblock %}